.main_bg{
    height: 400px;
    background-image: url('../images/후원이미지.png');
    background-size: cover;
    background-position: center;
    background-color: #000000;
    margin: 50px;
}

.list_img {
    width: 80%;
    height: 250px;
    padding: 0px;
    border:1px solid #000000;
}